SalesTrackingClient/src/conf/xml-resources/web-service-references/ServiceStyleDoc/wsdl/ddjameslap_8080/SalesTrackingWS-war/ServiceStyleDoc.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.vechorko.bsuir.by/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.vechorko.bsuir.by/" name="ServiceStyleDoc">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.vechorko.bsuir.by/" schemaLocation="http://ddjameslap:8080/SalesTrackingWS-war/ServiceStyleDoc?xsd=1"/>
</xsd:schema>
</types>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="getShop">
<part name="parameters" element="tns:getShop"/>
</message>
<message name="getShopResponse">
<part name="parameters" element="tns:getShopResponse"/>
</message>
<message name="getGood">
<part name="parameters" element="tns:getGood"/>
</message>
<message name="getGoodResponse">
<part name="parameters" element="tns:getGoodResponse"/>
</message>
<message name="getSale">
<part name="parameters" element="tns:getSale"/>
</message>
<message name="getSaleResponse">
<part name="parameters" element="tns:getSaleResponse"/>
</message>
<message name="getAllShops">
<part name="parameters" element="tns:getAllShops"/>
</message>
<message name="getAllShopsResponse">
<part name="parameters" element="tns:getAllShopsResponse"/>
</message>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers"/>
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse"/>
</message>
<message name="getAllCategories">
<part name="parameters" element="tns:getAllCategories"/>
</message>
<message name="getAllCategoriesResponse">
<part name="parameters" element="tns:getAllCategoriesResponse"/>
</message>
<message name="getAllSales">
<part name="parameters" element="tns:getAllSales"/>
</message>
<message name="getAllSalesResponse">
<part name="parameters" element="tns:getAllSalesResponse"/>
</message>
<message name="getAllGoods">
<part name="parameters" element="tns:getAllGoods"/>
</message>
<message name="getAllGoodsResponse">
<part name="parameters" element="tns:getAllGoodsResponse"/>
</message>
<message name="addNewUser">
<part name="parameters" element="tns:addNewUser"/>
</message>
<message name="addNewUserResponse">
<part name="parameters" element="tns:addNewUserResponse"/>
</message>
<message name="addNewCategory">
<part name="parameters" element="tns:addNewCategory"/>
</message>
<message name="addNewCategoryResponse">
<part name="parameters" element="tns:addNewCategoryResponse"/>
</message>
<message name="addNewShop">
<part name="parameters" element="tns:addNewShop"/>
</message>
<message name="addNewShopResponse">
<part name="parameters" element="tns:addNewShopResponse"/>
</message>
<message name="addNewSale">
<part name="parameters" element="tns:addNewSale"/>
</message>
<message name="addNewSaleResponse">
<part name="parameters" element="tns:addNewSaleResponse"/>
</message>
<message name="addNewGood">
<part name="parameters" element="tns:addNewGood"/>
</message>
<message name="addNewGoodResponse">
<part name="parameters" element="tns:addNewGoodResponse"/>
</message>
<message name="getCategory">
<part name="parameters" element="tns:getCategory"/>
</message>
<message name="getCategoryResponse">
<part name="parameters" element="tns:getCategoryResponse"/>
</message>
<message name="getSalesStatistic">
<part name="parameters" element="tns:getSalesStatistic"/>
</message>
<message name="getSalesStatisticResponse">
<part name="parameters" element="tns:getSalesStatisticResponse"/>
</message>
<portType name="ServiceStyleDoc">
<operation name="getUser">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="getShop">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getShopRequest" message="tns:getShop"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getShopResponse" message="tns:getShopResponse"/>
</operation>
<operation name="getGood">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getGoodRequest" message="tns:getGood"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getGoodResponse" message="tns:getGoodResponse"/>
</operation>
<operation name="getSale">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getSaleRequest" message="tns:getSale"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getSaleResponse" message="tns:getSaleResponse"/>
</operation>
<operation name="getAllShops">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getAllShopsRequest" message="tns:getAllShops"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getAllShopsResponse" message="tns:getAllShopsResponse"/>
</operation>
<operation name="getAllUsers">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getAllUsersRequest" message="tns:getAllUsers"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getAllUsersResponse" message="tns:getAllUsersResponse"/>
</operation>
<operation name="getAllCategories">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getAllCategoriesRequest" message="tns:getAllCategories"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getAllCategoriesResponse" message="tns:getAllCategoriesResponse"/>
</operation>
<operation name="getAllSales">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getAllSalesRequest" message="tns:getAllSales"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getAllSalesResponse" message="tns:getAllSalesResponse"/>
</operation>
<operation name="getAllGoods">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getAllGoodsRequest" message="tns:getAllGoods"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getAllGoodsResponse" message="tns:getAllGoodsResponse"/>
</operation>
<operation name="addNewUser">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/addNewUserRequest" message="tns:addNewUser"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/addNewUserResponse" message="tns:addNewUserResponse"/>
</operation>
<operation name="addNewCategory">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/addNewCategoryRequest" message="tns:addNewCategory"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/addNewCategoryResponse" message="tns:addNewCategoryResponse"/>
</operation>
<operation name="addNewShop">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/addNewShopRequest" message="tns:addNewShop"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/addNewShopResponse" message="tns:addNewShopResponse"/>
</operation>
<operation name="addNewSale">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/addNewSaleRequest" message="tns:addNewSale"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/addNewSaleResponse" message="tns:addNewSaleResponse"/>
</operation>
<operation name="addNewGood">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/addNewGoodRequest" message="tns:addNewGood"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/addNewGoodResponse" message="tns:addNewGoodResponse"/>
</operation>
<operation name="getCategory">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getCategoryRequest" message="tns:getCategory"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getCategoryResponse" message="tns:getCategoryResponse"/>
</operation>
<operation name="getSalesStatistic">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getSalesStatisticRequest" message="tns:getSalesStatistic"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleDoc/getSalesStatisticResponse" message="tns:getSalesStatisticResponse"/>
</operation>
</portType>
<binding name="ServiceStyleDocImplPortBinding" type="tns:ServiceStyleDoc">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getShop">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGood">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSale">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllShops">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllGoods">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewShop">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewSale">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewGood">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSalesStatistic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiceStyleDoc">
<port name="ServiceStyleDocImplPort" binding="tns:ServiceStyleDocImplPortBinding">
<soap:address location="http://ddjameslap:8080/SalesTrackingWS-war/ServiceStyleDoc"/>
</port>
</service>
</definitions>