SalesTrackingClient/src/conf/xml-resources/web-service-references/ServiceStyleRPC/wsdl/localhost_8080/SalesTrackingWS-war/ServiceStyleRPC.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.vechorko.bsuir.by/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.vechorko.bsuir.by/" name="ServiceStyleRPC">
<types/>
<message name="getAllCategories"/>
<message name="getAllCategoriesResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="removeCategory">
<part name="categoryId" type="xsd:int"/>
</message>
<message name="removeCategoryResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="addNewCategory">
<part name="name" type="xsd:string"/>
<part name="description" type="xsd:string"/>
</message>
<message name="addNewCategoryResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getCategory">
<part name="id" type="xsd:int"/>
</message>
<message name="getCategoryResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getUser">
<part name="id" type="xsd:int"/>
</message>
<message name="getUserResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="removeUser">
<part name="userId" type="xsd:int"/>
</message>
<message name="removeUserResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="addNewSale">
<part name="good" type="xsd:int"/>
<part name="shop" type="xsd:int"/>
<part name="count" type="xsd:int"/>
<part name="date" type="xsd:string"/>
</message>
<message name="addNewSaleResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="editSale">
<part name="id" type="xsd:int"/>
<part name="good" type="xsd:int"/>
<part name="shop" type="xsd:int"/>
<part name="count" type="xsd:int"/>
<part name="date" type="xsd:string"/>
</message>
<message name="editSaleResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="addNewGood">
<part name="name" type="xsd:string"/>
<part name="description" type="xsd:string"/>
<part name="price" type="xsd:int"/>
<part name="category" type="xsd:string"/>
</message>
<message name="addNewGoodResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="editGood">
<part name="id" type="xsd:int"/>
<part name="name" type="xsd:string"/>
<part name="description" type="xsd:string"/>
<part name="price" type="xsd:int"/>
<part name="category" type="xsd:string"/>
</message>
<message name="editGoodResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getAllShops"/>
<message name="getAllShopsResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="editShop">
<part name="id" type="xsd:int"/>
<part name="name" type="xsd:string"/>
<part name="address" type="xsd:string"/>
</message>
<message name="editShopResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getGood">
<part name="id" type="xsd:int"/>
</message>
<message name="getGoodResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="addNewShop">
<part name="name" type="xsd:string"/>
<part name="address" type="xsd:string"/>
</message>
<message name="addNewShopResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getShop">
<part name="id" type="xsd:int"/>
</message>
<message name="getShopResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getSale">
<part name="id" type="xsd:int"/>
</message>
<message name="getSaleResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getAllUsers"/>
<message name="getAllUsersResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getAllSales"/>
<message name="getAllSalesResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getAllGoods"/>
<message name="getAllGoodsResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="removeShop">
<part name="shopId" type="xsd:int"/>
</message>
<message name="removeShopResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="removeSale">
<part name="saleId" type="xsd:int"/>
</message>
<message name="removeSaleResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="removeGood">
<part name="goodId" type="xsd:int"/>
</message>
<message name="removeGoodResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="addNewUser">
<part name="login" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="fio" type="xsd:string"/>
</message>
<message name="addNewUserResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="editUser">
<part name="id" type="xsd:int"/>
<part name="login" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="fio" type="xsd:string"/>
</message>
<message name="editUserResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="editCategory">
<part name="id" type="xsd:int"/>
<part name="name" type="xsd:string"/>
<part name="description" type="xsd:string"/>
</message>
<message name="editCategoryResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="checkUser">
<part name="login" type="xsd:string"/>
<part name="password" type="xsd:string"/>
</message>
<message name="checkUserResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="getSalesStatistic"/>
<message name="getSalesStatisticResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="ServiceStyleRPC">
<operation name="getAllCategories">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getAllCategoriesRequest" message="tns:getAllCategories"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getAllCategoriesResponse" message="tns:getAllCategoriesResponse"/>
</operation>
<operation name="removeCategory">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/removeCategoryRequest" message="tns:removeCategory"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/removeCategoryResponse" message="tns:removeCategoryResponse"/>
</operation>
<operation name="addNewCategory" parameterOrder="name description">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/addNewCategoryRequest" message="tns:addNewCategory"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/addNewCategoryResponse" message="tns:addNewCategoryResponse"/>
</operation>
<operation name="getCategory">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getCategoryRequest" message="tns:getCategory"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getCategoryResponse" message="tns:getCategoryResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="removeUser">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/removeUserRequest" message="tns:removeUser"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/removeUserResponse" message="tns:removeUserResponse"/>
</operation>
<operation name="addNewSale" parameterOrder="good shop count date">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/addNewSaleRequest" message="tns:addNewSale"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/addNewSaleResponse" message="tns:addNewSaleResponse"/>
</operation>
<operation name="editSale" parameterOrder="id good shop count date">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/editSaleRequest" message="tns:editSale"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/editSaleResponse" message="tns:editSaleResponse"/>
</operation>
<operation name="addNewGood" parameterOrder="name description price category">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/addNewGoodRequest" message="tns:addNewGood"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/addNewGoodResponse" message="tns:addNewGoodResponse"/>
</operation>
<operation name="editGood" parameterOrder="id name description price category">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/editGoodRequest" message="tns:editGood"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/editGoodResponse" message="tns:editGoodResponse"/>
</operation>
<operation name="getAllShops">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getAllShopsRequest" message="tns:getAllShops"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getAllShopsResponse" message="tns:getAllShopsResponse"/>
</operation>
<operation name="editShop" parameterOrder="id name address">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/editShopRequest" message="tns:editShop"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/editShopResponse" message="tns:editShopResponse"/>
</operation>
<operation name="getGood">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getGoodRequest" message="tns:getGood"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getGoodResponse" message="tns:getGoodResponse"/>
</operation>
<operation name="addNewShop" parameterOrder="name address">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/addNewShopRequest" message="tns:addNewShop"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/addNewShopResponse" message="tns:addNewShopResponse"/>
</operation>
<operation name="getShop">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getShopRequest" message="tns:getShop"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getShopResponse" message="tns:getShopResponse"/>
</operation>
<operation name="getSale">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getSaleRequest" message="tns:getSale"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getSaleResponse" message="tns:getSaleResponse"/>
</operation>
<operation name="getAllUsers">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getAllUsersRequest" message="tns:getAllUsers"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getAllUsersResponse" message="tns:getAllUsersResponse"/>
</operation>
<operation name="getAllSales">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getAllSalesRequest" message="tns:getAllSales"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getAllSalesResponse" message="tns:getAllSalesResponse"/>
</operation>
<operation name="getAllGoods">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getAllGoodsRequest" message="tns:getAllGoods"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getAllGoodsResponse" message="tns:getAllGoodsResponse"/>
</operation>
<operation name="removeShop">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/removeShopRequest" message="tns:removeShop"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/removeShopResponse" message="tns:removeShopResponse"/>
</operation>
<operation name="removeSale">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/removeSaleRequest" message="tns:removeSale"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/removeSaleResponse" message="tns:removeSaleResponse"/>
</operation>
<operation name="removeGood">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/removeGoodRequest" message="tns:removeGood"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/removeGoodResponse" message="tns:removeGoodResponse"/>
</operation>
<operation name="addNewUser" parameterOrder="login password fio">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/addNewUserRequest" message="tns:addNewUser"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/addNewUserResponse" message="tns:addNewUserResponse"/>
</operation>
<operation name="editUser" parameterOrder="id login password fio">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/editUserRequest" message="tns:editUser"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/editUserResponse" message="tns:editUserResponse"/>
</operation>
<operation name="editCategory" parameterOrder="id name description">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/editCategoryRequest" message="tns:editCategory"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/editCategoryResponse" message="tns:editCategoryResponse"/>
</operation>
<operation name="checkUser" parameterOrder="login password">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/checkUserRequest" message="tns:checkUser"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/checkUserResponse" message="tns:checkUserResponse"/>
</operation>
<operation name="getSalesStatistic">
<input wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getSalesStatisticRequest" message="tns:getSalesStatistic"/>
<output wsam:Action="http://ws.vechorko.bsuir.by/ServiceStyleRPC/getSalesStatisticResponse" message="tns:getSalesStatisticResponse"/>
</operation>
</portType>
<binding name="ServiceStyleRPCImplPortBinding" type="tns:ServiceStyleRPC">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getAllCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="removeCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="addNewCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="getCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="removeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="addNewSale">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="editSale">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="addNewGood">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="editGood">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="getAllShops">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="editShop">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="getGood">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="addNewShop">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="getShop">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="getSale">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="getAllUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="getAllSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="getAllGoods">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="removeShop">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="removeSale">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="removeGood">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="addNewUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="editUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="editCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="checkUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
<operation name="getSalesStatistic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ws.vechorko.bsuir.by/"/>
</output>
</operation>
</binding>
<service name="ServiceStyleRPC">
<port name="ServiceStyleRPCImplPort" binding="tns:ServiceStyleRPCImplPortBinding">
<soap:address location="http://localhost:8080/SalesTrackingWS-war/ServiceStyleRPC"/>
</port>
</service>
</definitions>